@import "tailwindcss";

@theme{
    --breakpoint-*: initial;
    --breakpoint-sm: 360px;
    --breakpoint-md: 412px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1440px;
    
    --color-background-color: rgb(85, 95, 90);
    --color-empty-favorite-card: rgb(120, 120, 120);
    --color-movie-card: rgb(70, 80, 85);
    --color-movie-card-info: rgb(60, 70, 65);
    --color-search-bar: rgb(120, 120, 120);
    --color-search-button: rgb(230, 60, 60);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

